---
import { Image } from "astro:assets";
import Carousel from "~/components/Carousel.astro";
import ContactButton from "~/components/ContactButton.astro";
import Footer from "~/components/Footer.astro";
import hero from "~/images/hero.webp";
import HomepageLayout from "~/layouts/HomepageLayout.astro";
---

<HomepageLayout>
  <main>
    <section
      class="w-dvh flex h-dvh flex-col-reverse gap-4 md:flex-row md:items-center"
    >
      <div class="flex-1 space-y-4 pb-4 pl-4 md:space-y-6 md:pb-0 md:pl-6">
        <h1
          class="text-balance text-6xl font-bold tracking-tighter md:text-7xl"
        >
          Music Production Studio
        </h1>
        <p class="text-balance text-lg font-medium text-gray-11 md:text-xl">
          Fatality Studios is a studio for every aspect - commercial,
          independent artist or personal use. Disscuss your vision and leave the
          rest to us.
        </p>
        <div>
          <ContactButton />
        </div>
      </div>
      <div class="flex-1">
        <Image
          src={hero}
          alt="Image showcasing all genres posters."
          loading="eager"
          fetchpriority="high"
          class="h-dvh object-cover md:object-left-top"
          widths={[320, 768, 1200, 1920, hero.width]}
          sizes={`(max-width: 600px) 320px, (max-width: 900px) 768px, (max-width: 1600px) 1200px, 1920px, ${hero.width}px`}
        />
      </div>
    </section>
    <Carousel />
  </main>
  <Footer />
</HomepageLayout>
